<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<h1>Welcome</h1>
<div th:if="${user}">
    <p>Logged in as <span th:text="${#authentication?.name}">user</span></p>
    <p><a th:href="@{/profile}">My Profile</a></p>
    <p><a th:href="@{/logout}">Logout</a></p>
</div>
<div th:if="${user == null}">
    <a th:href="/oauth2/authorization/google">Login with Google</a>
    <br/>
    <a th:href="/oauth2/authorization/github">Login with GitHub</a>
</div>
</body>
</html>
